HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

###### IntelliJ IDEA ######
.idea
/.idea/
/src/test/
*.iws
*.iml
*.ipr
*.class
target
test
*.csv
*.ak
#!/*resources/*.csv
#!/*resources/*/*.csv
!/src/main/resources/*.ak
!/src/main/resources/*/*.ak
!/src/main/resources/*.csv
!/src/main/resources/*/*.csv

###### STS ######
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
#.idea
#*.class
#*.iml
#target
#test

###### NetBeans ######
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

###### VS Code ######
.vscode/
#*.properties
.log
#target
#test
*.log
