# 注意：从未提交过的文件可以用 .gitignore 管理，已在git存在记录的，.gitignore 无法管理
# 注意：git 对于 .gitignore 配置文件是按行从上到下进行规则匹配的
# 注意：跟踪忽略文件夹中文件 ( 先忽略后追踪 )

HELP.md
/target/
!.mvn/wrapper/maven-wrapper.jar

###### IntelliJ IDEA ######
.idea
/.idea/
/src/test/
*.iws
*.iml
*.ipr
*.class
target
test
*.csv
*.ak
model
resources/model/
#!/*resources/*.csv
#!/*resources/*/*.csv
!/src/main/resources/*.ak
!/src/main/resources/*/*.ak
!/src/main/resources/*.csv
!/src/main/resources/*/*.csv

###### STS ######
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
#.idea
#*.class
#*.iml
#target
#test

###### NetBeans ######
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

###### VS Code ######
.vscode/
#*.properties
.log
#target
#test
*.log
